@charset "utf-8";
/*注册登录*/
.v_steps {
	width: 769px;
	height: auto;
	margin: 0 auto;
	padding-top: 50px;
}
.v_steps .v_p {
	width: 62px;
	height: 71px;
	display: inline-block;
 *zoom: 1;
 *display: inline;
}
.v_ph {
	width: 162px;
	height: 71px;
	display: inline-block;
 *zoom: 1;
 *display: inline;
	background: url(../images/v_hengxian.png) 0 center no-repeat;
}
.v_steps span img {
	vertical-align: middle
}
.v_steps .v_num {
	width: 62px;
	height: 50px;
	line-height: 50px;
	display: block;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	background: url("../images/v_arr.png") center no-repeat;
}
.v_steps .v_num_grey {
	width: 62px;
	height: 50px;
	line-height: 50px;
	display: block;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	background: url("../images/v_cirle.png") center 6px no-repeat;
}
.v_steps .v_num_red {
	width: 62px;
	height: 50px;
	line-height: 50px;
	display: block;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	background: url("../images/v_cirle_red.png") 15px 6px no-repeat;
}
.v_steps .v_text {
	width: 62px;
	display: block;
	font-size: 14px;
	height: 20px;
	color: #abadb3;
	line-height: 20px;
	text-align: center;
}
.v_steps .v_text_pass {
	width: 62px;
	display: block;
	font-size: 14px;
	height: 20px;
	color: #e4393c;
	line-height: 20px;
	text-align: center;
}
.v_steps .v_text_current {
	width: 62px;
	display: block;
	font-size: 14px;
	height: 20px;
	color: #e60012;
	line-height: 20px;
	text-align: center;
}
.v_steps .v_blue {
	width: 62px;
	height: 50px;
	line-height: 50px;
	display: block;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	background: url("../images/v_blue.png") center no-repeat;
}
.v_steps .v_num_blue {
	width: 62px;
	height: 50px;
	line-height: 50px;
	display: block;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	background: url("../images/v_cirle_blue.png") 15px 6px no-repeat;
}
.v_steps .v_text_blue {
	color: #007bd2;
}
.v_steps .v_text_red {
	color: #e4393c;
	;
}
.regdiv {
	width: 850px;
	background: #fff;
	margin: 20px auto 0;
	border: 3px solid #e5e4e9;
}
.regtab {
	width: 822px;
	height: 69px;
}
.regtabcom {
	width: 226px;
	height: 69px;
	float: left;
	font-size: 24px;
	padding-left: 185px;
	line-height: 62px;
	cursor: pointer;
	color: #fff;
	background: url("../images/select_c.png") 0 0 no-repeat;
}
.regtabcom_no {
	width: 226px;
	height: 69px;
	float: left;
	font-size: 24px;
	padding-left: 185px;
	line-height: 62px;
	cursor: pointer;
	color: #abadb3;
	background: url("../images/comno.jpg") 0 0 no-repeat;
}
.regtabper {
	width: 226px;
	height: 69px;
	float: left;
	font-size: 24px;
	padding-left: 185px;
	line-height: 62px;
	cursor: pointer;
	color: #abadb3;
	background: url("../images/noper.jpg") 0 0 no-repeat;
}
.regtabperselect {
	width: 226px;
	height: 69px;
	float: left;
	font-size: 24px;
	padding-left: 185px;
	line-height: 62px;
	cursor: pointer;
	color: #fff;
	background: url("../images/select_p.png") 0 0 no-repeat;
}
.reg-form {
	width: 500px;
	margin: 50px auto;
}
.reg-form span.row {
	width: 90px;
	padding-right: 10px;
	vertical-align: middle;
	display: inline-block;
 *zoom: 1;
 *display: inline;
	font-size: 14px;
	color: #2f3239;
	text-align: right;
}
.reg-form hr.dashed {
	border: none;
	border-bottom: 1px dashed #d8d8d8
}
.regprotocol {
	margin-left: 100px;
}
.reg-form .blue-btn, .reg-form .red-btn {
	width: 143px;
}
.link-trigger {
	height: 28px;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	background: #f7f7f7;
	line-height: 28px;
	padding-left: 243px;
	cursor: pointer;
	font-size: 12px
}
.link-trigger a {
	color: #8f8f8f;
	background: url(../images/d-arrow-gray.gif) right center no-repeat;
	;
	padding-right: 17px;
}
.link-trigger-hover {
	background-color: #efefef;
}
.list-info {
	padding: 28px 0 30px 243px;
	background: #f9f9f9;
	color: #4c4c4c;
	font-size: 12px
}
.list-info a {
	color: #0289c9;
}
.list-info .title {
	color: #4d4d4d;
}
.list-info .explain {
	font-size: 12px;
	font-weight: 100;
	color: #959595;
}
.list-rule {
	margin-bottom: 20px;
}
.list-rule-item {
	line-height: 22px;
	height: 22px;
	list-style: disc inside;
}
.datum-form {
	width: 550px;
}
.datum-form span.row {
	width: 160px;
}
.idcard-img {
	display: inline-block;
 *display: inline;
 *zoom:1;
	width: 375px;
	vertical-align: top
}
.idcard-img .fr {
	width: 275px;
}
.qrcode {
	width: 950px;
	height: auto;
	border: 3px solid #76ccff;
	background: #fff;
	margin: 30px auto 0;
}
.qrcode_text {
	color: #2f3239;
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	padding:30px 0;
	text-align:center;
}

.qrcode_bottom {
	width: 100%;
	height: 39px;
	line-height: 39px;
	color: #fff;
	text-align: center;
	background: #76ccff;
	font-size: 12px;

}
.ico-success {
	display: inline-block;
 *display: inline;
 *zoom:1;
	width: 40px;
	height: 40px;
	vertical-align: middle;
	background:url(../images/ico-success.png) no-repeat center center;
}

.per-qrcode{ border-color:#fa6266;}
.per-qrcode .qrcode_bottom{background: #fa6266;}