@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width: 100%;
}
/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/
a, a:visited {
	color: #3893eb;
}
a:hover {
	color: #ff6f3d;
}
.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}
.fluidList {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}
/* Mobile Layout: 480px and below. */
  
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 86.45%;
	padding-left: 2.275%;
	padding-right: 2.275%;
	clear: none;
	float: none;
}
#div1 {
}
.zeroMargin_mobile {
	margin-left: 0;
}
.hide_mobile {
	display: none;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
}
.zeroMargin_tablet {
	margin-left: 0;
}
.hide_tablet {
	display: none;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.5%;
	max-width: 1232px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
}
.zeroMargin_desktop {
	margin-left: 0;
}
.hide_desktop {
	display: none;
}
}
html, body, button, input, select, textarea {
	font: 14px/1.5 Tahoma, Arial, Roboto, "Droid Sans", "Helvetica Neue", "Droid Sans Fallback", "Heiti SC", sans-self;
	color: #666;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}
html {
	background: #FBF9FE;
	height: 100%
}
body {
	height: 100%
}
.gridContainer {
	background: #fff;
	height: auto
}
.fs16 {
	font-size: 16px;
}
.fs18 {
	font-size: 18px;
}
.input {
	width: 100%;
	vertical-align: middle;
	height: 40px;
	padding: 10px 5px;
	border: 1px solid #cccccc;
	font-size: 14px;
	box-sizing: border-box;
	border-radius: 5px;
	color: #333;
}
input::-webkit-input-placeholder {
font-size: 1rem;
color:#9f9f9f;
}
input.error::-webkit-input-placeholder {
color:#eb3026;
}
.textarea {
	padding: 10px;
	border: 1px solid #cccccc;
	width: 100%;
	box-sizing: border-box;
}
.red-btn {
	border-radius: 5px;
	background: #F73939;
	border: #F73939 1px solid;
	color: #fff;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	display: inline-block;
	text-decoration: none;
	outline: 0 none;
	text-align: center
}
.red-btn:visited, .red-btn:hover {
	color: #fff;
	background: #ec4d35;
}
.red-btn[disabled] {
	border: #C9C9CA solid 1px;
	background: #eee;
	color: #666;
}
.b-btn {
	font-size: 16px;
	height: 42px;
	line-height: 42px;
}
.red-border-btn {
	background: #fff;
	border: 1px solid #E21B1B;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 5px;
	vertical-align: middle;
	display: inline-block;
	width: 100%;
	color: #E21B1B;
	outline: 0 none;
	text-align: center;
	text-decoration: none;
}
a.red-border-btn {
	color: #E21B1B
}
.s-btn {
	font-size: 14px;
	height: 35px;
	line-height: 35px;
	width: auto;
	padding: 0 13px;
}
.security-code {
	margin-right: 140px;
}
.get-security-code {
	width: 100px;
	border: 1px solid #BFBFBF;
	color: #333;
	background: -webkit-linear-gradient(#fff, #e0e0e0);
	background: linear-gradient(#fff, #e0e0e0);
	box-sizing: border-box;
	border-radius: 3px;
	vertical-align: middle;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	padding: 0;
	vertical-align: middle
}
.gray-btn {
	box-sizing: border-box;
	vertical-align: middle;
	display: inline-block;
	text-decoration: none;
	border: #C9C9CA solid 1px;
	background: #f8f8f8;
	color: #666;
	width: 100%;
	border-radius: 5px;
	outline: 0 none;
	text-align: center
}
.white-btn {
	box-sizing: border-box;
	vertical-align: middle;
	display: inline-block;
	text-decoration: none;
	border: #ddd solid 1px;
	background: #fff;
	color: #666;
	width: 100%;
	border-radius: 5px;
	outline: 0 none;
	text-align: center
}
.group-btns button:first-child {
	border-radius: 5px 0 0 5px;
	border-right: 0 none;
}
.group-btns button:last-child {
	border-radius: 0 5px 5px 0;
	border-left: 0 none;
}
.group-btns button:only-child {
	border-radius: 5px;
	
}
.gray-btn:visited, .gray-btn:hover {
	color: #666;
	background: #FFFFFF;
}
.white-btn:visited, .white-btn:hover {
	color: #666;
	border-color: #ccc;
}
input[type="checkbox"] {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
.fr {
	float: right
}
.mt50 {
	margin-top: 50px;
}
.form p {
	margin-top: 1em;
	margin-bottom: 1em
}
.i-arrowR {
	background: url("../wsimages/ico-arrowR.png") no-repeat center center;
	background-size: .54rem auto;
	display: block;
	width: .54rem;
	height: auto;
	vertical-align: middle
}
.record-ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.record-ul p {
	margin: 0;
	font-size: 14px;
}
.record-ul .btns {
	text-align: right;
	margin: 10px 0 0;
	padding-top: 10px;
	border-top: 1px solid #f5f5f5
}
.record-ul .btns a {
	width: auto;
	height: 28px;
	line-height: 28px;
	min-width: 60px;
	border-radius: 3px;
	text-align: center;
	font-size: 12px;
	margin-left: 5px;
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.record-ul h4 {
	margin: 0;
	font-size: 18px;
	position: relative;
	z-index: 0;
	padding-right: 50px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.record-ul h4 span {
	position: absolute;
	z-index: 1;
	right: 0;
	top: 0;
	height: 27px;
	line-height: 27px;
	text-align: center;
	font-size: 12px;
	width: 50px;
	font-weight: 100
}
.record-ul li {

	padding: 10px;
	background: #fff;
	margin-bottom: 10px;
}
.record-ul li:hover {
	background: #fafafa
}
.record-ul li:first-child {
	border-top: 1px solid #eee;
}
.center {
	text-align: center
}
.contract-module{ margin-bottom:56px}
.ca-tit{ padding:10px; margin-bottom:0; font-weight:700; text-align:left}
.attachment-ul li{ margin-bottom:0}
.contract-outline {
	background: #f8f8f8;
	border: 1px solid #eee;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
}
.contract {
	position: relative;
	display: inline-block;
}
.contract img {
	display: block
}
.contract > img {
	margin-bottom:1px;
}
.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 96%;
	background: #fff;
	z-index: 2;
	padding: 8px 2%;
}
.tit h4 {
	width: 100%;
	height: 24px;
	line-height: 24px;
	margin: 20px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 24px
}
.dialog {
	border: 1px solid #aaaaaa;
	background: #ffffff;
	color: #222222;
	z-index: 999;
	position: fixed;
	border-radius: 5px;
	padding: 20px;
	left: 50%;
	top: 50%;
	width: 260px;
	margin-left: -150px;
	margin-top: -120px;
}
.dialog-overlay {
	background: #aaaaaa;
	opacity: .5;
	filter: Alpha(Opacity=50);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 998
}
.dialog-box {
	position: fixed;
	bottom: 0;
	min-height: 100px;
	z-index: 999;
	width: 98%;
	background: #fff;
	padding: 1%;
}
.dialog-box .close {
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #ccc;
	border: 1px solid #ccc;
	border-radius: 30px;
	display: block;
	text-decoration: none;
	font-weight: 100
}
.dialog-box .close:hover {
	color: #ec4d35;
	border-color: #ec4d35
}
.dialog-box .dialog-title {
	height: 22px;
	font-weight: 700;
	padding: 10px 0;
}
#contact-content .dialog-box {
	height: 98%
}
.profile .itm .tit {
	min-width: 4rem;
	font-size: .9rem;
	line-height: 3.66rem;
	color: #666;
	margin-right: .5rem;
	font-weight: 700
}
.profile .itm .rmb {
	line-height: 3.66rem;
}
.profile .itm .ipt {
	line-height: 1.66rem;
	height: 1.66rem;
	margin-top: 1rem;
	border: none;
	font-size: .9rem;
	color: #333;
	width: auto;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}
.profile {
	padding: 0;
	border: #ebecec solid 1px;
	background: #fff;
	margin-bottom: 50px
}
.profile .itm {
	padding: 0 .5rem;
	border-top: #ebecec solid 1px;
}
.profile .itm:first-child, .profile .itm.first-child {
	border-top: none
}
.profile .itm-btn {
	padding: 20px 1.33rem;
	list-style: none
}
.profile .ifile {
	display: inline-block;
	vertical-align: middle;
	line-height: 1.66rem;
	height: 1.66rem;
	margin-top: 1rem;
	font-size: .9rem;
}
.profile .icon-plus {
	width: 26px;
	height: 26px;
	line-height: 26px;
	border-radius: 26px;
	border: 1px solid #438ed3;
	text-align: center;
	margin-top: -5px;
	display: inline-block
}
.profile .icon-plus:hover, .profile .icon-plus:active {
	border-color: #33C7FC;
	color: #33C7FC
}
.red {
	color: #eb3026
}
.blue {
	color: #438ed3;
}
.gray {
	color: #9f9f9f
}
.green {
	color: #6fc74c;
}
.mt0 {
	margin-top: 0
}
.mt10 {
	margin-top: 10px !important;
}
.mb10 {
	margin-bottom: 10px !important;
}
.ml5 {
	margin-left: 5px
}
.mr5 {
	margin-right: 5px
}
.mt5 {
	margin-top: 5px
}
.mb5 {
	margin-bottom: 5px
}
.m5 {
	margin: 5px
}
.ml10 {
	margin-left: 10px
}
.mr10 {
	margin-right: 10px
}
.mt10 {
	margin-top: 10px
}
.mb10 {
	margin-bottom: 10px
}
.m10 {
	margin: 10px
}
.ml20 {
	margin-left: 20px
}
.mr20 {
	margin-right: 20px
}
.mt20 {
	margin-top: 20px
}
.mtf10 {
	margin-top: -10px
}
.mb20 {
	margin-bottom: 20px
}
.m20 {
	margin: 20px
}
.mb56 {
	margin-bottom: 56px !important
}
.pl5 {
	padding-left: 5px
}
.pr5 {
	padding-right: 5px
}
.pt5 {
	padding-top: 5px
}
.pb5 {
	padding-bottom: 5px
}
.p5 {
	padding: 5px
}
.pl10 {
	padding-left: 10px
}
.pr10 {
	padding-right: 10px
}
.pt10 {
	padding-top: 10px
}
.pb10 {
	padding-bottom: 10px
}
.p10 {
	padding: 10px
}
.pl20 {
	padding-left: 20px
}
.pr20 {
	padding-right: 20px
}
.pt20 {
	padding-top: 20px
}
.pb20 {
	padding-bottom: 20px
}
.p20 {
	padding: 20px
}
body .none {
	display: none;
}
.draggable {
	position: absolute;
	width: auto;
	height: auto;
	z-index: 0;
}
.draggable.active {
	border: 1px dashed #ccc;
	cursor: move;
	background: rgba(0,0,0,0.08);
}
.draggable.error {
	border: 1px dashed red;

}
/*.draggable p {
	position: absolute;
	left: 0;
	bottom: -55px;
	padding: 0 5px;
	margin: 0;
	white-space: nowrap
}
.cbutton {
	border-radius: 72px;
	background-color: rgba(255,255,255,.95);
	-webkit-box-shadow: 2px 6x 6px rgba(0,0,0,.13);
	box-shadow: 2px 6x 6px rgba(0,0,0,.13);
	border: 1px #bababa solid;
	display: inline-block;
	text-decoration: none;
	color: #5e5e5e;
}
.cbutton i {
	width: 32px;
	height: 32px;
	line-height: 32px;
	display: inline-block;
	font-style: normal;
}
.draggable .cbutton:first-child {
	margin-right: 30px;
	background: #fff;
	border-color: #D3D3D3;
	color: #D3D3D3;
}
.cbutton:hover {
	color: #5e5e5e;
}
.cbutton i:active {
	background: rgba(0,0,0,.05);
}*/
@font-face {
	font-family: "iconfont";
	src: url('iconfont.eot'); /* IE9*/
	src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('iconfont.woff') format('woff'), /* chrome、firefox */ url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
.icon-minus:before {
	content: "\e7de";
}
.icon-close:before {
	content: "\e637";
}
.icon-plus:before {
	content: "\e758";
}
/*
.btn-zoom .icon-plus {
	padding-left: 10px;
}
.btn-zoom .icon-minus {
	padding-right: 10px;
}
.draggable i.del {
	background-position: 0 0;
}
.draggable i:hover {
	cursor: pointer;
	opacity: 1;
}*/

.ui-resizable-se {
	background: url(../wsimages/resize.png)
}
.gototop {
	position: fixed;
	right: 10px;
	bottom: 60px;
	width: 40px;
	height: 150px;
	z-index: 100;
}
.gototop a {
	border: 1px solid rgba(0,0,0,0.6);
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: block;
	border-radius: 40px;
	margin-bottom: 10px;
	text-align: center;
	overflow: hidden;
	background: rgba(255,255,255,0.6)
}
.gototop a i {
	margin: 4px auto;
	display: block;
	width: 32px;
	height: 32px;
	background: url(../wsimages/icon.png) no-repeat top center;
	background-size: 100%;
}
.gototop .icon-seal i {
	background-position: center 0;
}
.gototop .icon-sign i {
	background-position: center -32px
}
.gototop .icon-top i {
	background-position: center -64px
}
.gototop .icon-digital i {
	background: url(../wsimages/icon-digital.png) no-repeat center center;
	background-size: 80%;
}
#sign {
	background: rgba(255,253,253,0.5);
	position: fixed;
	z-index: 101;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none
}
.sign-tools, .tools {
	position: fixed;
	left: 0;
	top: 0%;
	height: 50px;
	width: 100%;
	display: none;
	z-index: 102;
}
.tools {
	z-index: 103;
}
.sign-tools a, .tools a {
	width: 33.3%;
	display: block;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	color: #fff;
	text-align: center;
	font-size: 18px;
	float: left;
	background: rgba(0,0,0,0.8);
	text-decoration: none;
	box-sizing: border-box;
}
.tools a {
	width: 25%
}
.sign-tools a:hover, .sign-tools a:active, .tools a:hover, .tools a:active {
	background: rgba(0,0,0,0.6);
}
.sign-tools a i, .tools a i {
	background: url(../wsimages/icon.png) no-repeat 0 0;
	background-size: 100%;
	display: block;
	width: 32px;
	height: 32px;
	margin: 4px auto
}
.tools a:before {
	content: "";
}
.sign-tools a.icon-reset i {
	background-position: center -96px;
}
.tools a.icon-plus i {
	background-position: center -128px;
}
.tools a.icon-minus i {
	background-position: center -160px;
}
.tools a.icon-close i, .sign-tools a.icon-cancel i {
	background-position: center -192px;
}
.sign-tools a.icon-save i, .tools a.icon-confirm i {
	background-position: center -224px;
}
.sign-tips {
	width: 180px;
	line-height: 30px;
	height: 30px;
	text-align: center;
	background: rgba(0,0,0,.60);
	border-radius: 30px;
	position: fixed;
	z-index: 102;
	top: 50%;
	left: 50%;
	margin-left: -90px;
	margin-top: 15px;
	color: #fff;
	font-size: 14px;
	display: none
}
.v-align-middle {
	vertical-align: middle;
}
.close-more {
	width: 80px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin: -11px auto 0;
	border: #ebecec solid 1px;
	border-top: 0 none;
	border-radius: 0 0 80px 80px;
	background: #fff;
	cursor: pointer
}
.close-more a {
	font-size: 20px;
	text-decoration: none;
	color: #606060;
	-ms-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	display: inline-block;
}
.open-more {
	width: 80px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin: -11px auto 0;
	border: #ebecec solid 1px;
	border-top: 0 none;
	border-radius: 0 0 80px 80px;
	background: #fff;
	cursor: pointer
}
.open-more a {
	font-size: 20px;
	text-decoration: none;
	color: #606060;
	-ms-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(-90deg);
	display: inline-block;
}
.tab ul {
	background: #F5F5F5;
	height: 39px;
	padding: 0;
	margin: 0;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-radius: 5px 5px 0 0;
}
.tab li {
	width: 50%;
	float: left;
	height: 40px;
	text-align: center;
	font-size: 14px;
	list-style: none
}
.tab li a {
	display: block;
	border-bottom: 1px solid #CCC;
	line-height: 39px;
	font-size: 14px;
	text-decoration: none;
	background: #f5f5f5;
	color: #999;
	border-radius: 0 5px 0 0;
	box-shadow: inset 0 -5px 8px rgba(0,0,0,.05);
}
.tab li a:hover {
	color: #333
}
.tab li:first-child a {
	border-right: 1px solid #CCC;
	border-radius: 5px 0 0 0;
}
.tab li.current a {
	background: #FFF;
	border-bottom-color: #fff;
	color: #333;
	box-shadow: none
}
.tab-contents .reg-form {
	border: 1px solid #CCC;
	padding: 10px;
	border-radius: 5px;
	background: #fff
}
.contenteditable {
	width: 100%;
	border: 0 none;
	outline: 0;
	height: auto;
	padding: 14px 0;
	font-size: 12px;
	overflow: auto;
	line-height: 24px;
}
.profile .contenteditable .tit {
	line-height: 24px;
}
.reg-form {
	background: #fff;
}
.reg-form p {
	border-top: 1px solid #CCC;
	padding: 8px 0;
	margin: 0
}
.reg-form > p:first-child {
	border-top: 0 none;
}
.reg-form .input {
	border: 0 none;
}
.reg-form .security-code {
	position: relative;
	z-index: 0;
	padding-right: 140px;
	margin-right: 0
}
.reg-form .get-security-code {
	position: absolute;
	right: 0;
	top: 13px;
	z-index: 1
}
.icon-contact {
	display: inline-block;
	width: 50px;
	height: 40px;
	background: url(../wsimages/icon-contact.png) no-repeat center center;
	text-indent: -99999px;
	margin-top: -10px;
}
.icon-del {
	display: inline-block;
	width: 50px;
	height: 40px;
	background: url(../wsimages/icon-del.png) no-repeat center center;
	text-indent: -99999px;
}
.icon-ok {
	display: inline-block;
	width: 50px;
	height: 40px;
	background: url(../wsimages/checkmark.png) no-repeat center center;
	text-indent: -99999px;
}
.icon-ok.disabled {
	opacity: .2
}
;
.recive-list {
	padding: 5px 0
}
.recive-list.first-child .i-del {
	position: absolute;
	right: 55px;
	top: 5px;
	height: 40px;
}
.yao-register {
	padding: 0
}
.yao-register label {
	line-height: 40px;
}
.yao-register .radio {
	margin: 0 5px;
	font-size: 12px;
	display: inline-block;
	white-space: nowrap;
	padding: 0 5px;
}
.yao-register p {
	margin: 5px 0;
	padding: 0
}
.yao-register .no-register {
	height: auto;
	color: #ff823e;
	line-height: 20px;
	padding: 5px;
	font-size: 12px;
	background: #ffe1d1;
	margin-top: -10px;
	margin-right: 70px;
}
input[type="checkbox"].checkbox {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border: 1px solid #c6c6c6;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	background: #fff;
	position: relative;
}
.checkbox:active {
	background: #ebebeb;
}
.checkbox:hover {
	border-color: #c6c6c6;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.checkbox:checked {
	background: #fff;
}
.checkbox:checked::after {
	content: url(../wsimages/checkmark.png);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
.checkbox:focus {
	outline: none;
	border-color: #4d90fe;
}
.recive-ul {
	padding: 10px;
	background: #f5f5f5;
}
.recive-ul ul {
	padding: 0;
	margin: 0
}
.recive-ul li {
	list-style: none;
	border-top: 1px dashed #ddd
}
.recive-ul li label {
	padding: 10px 0;
	display: block
}
.recive-ul li:first-child {
	border-top: 0 none;
}
.recive-form .input {
	padding:0 5px;
	border-color: #ddd;
	border-right-color: #fff;
	border-radius: 5px 0 0 5px;
	box-sizing:border-box
}
.recive-form .input:focus {
	outline: 0;
	border-color: #ccc;
	border-right-color: #fff;
	
}

.recive-form {
box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
 -webkit-box-shadow: 0 0 0px 45px white inset;
}
.recive-form .find {
	width: 60px;
	height: 40px;
	background: #F73939 url(../wsimages/search.png) no-repeat center center;
	background-size:25px;
	border: 1px solid #F73939;
	text-indent: -99999px;
	border-radius: 0 5px 5px 0;
	opacity:.8
}
.recive-form .input:focus + .find{opacity:1}
.p-relative {
	position: relative;
	z-index: 0;
}
.chose-templet {
	position: absolute;
	z-index: 1;
	right: 0;
	top: 0;
	height: 3.66rem;
	line-height: 3.66rem;
	width: 72px;
	overflow: hidden;
	text-align: left
}
.upload-btn {
	position: relative;
	z-index: 1;
	width: 50px;
	height: 32px;
	line-height: 32px;
	display: inline-block;
	<!--text-indent: -998px;-->
	background: url(../wsimages/icon-upload.png) no-repeat center center;
	color: #666;
	border-radius: 2px;
	font-size: 12px;
	outline: 0 none;
	text-align: center;
	overflow: hidden;
	margin: 0;
	background-size: contain;
	vertical-align: middle;
}
.upload-btn.uploaded {
	background: url(../wsimages/icon-uploaded.png) no-repeat center center;
	background-size: contain
}
.upload-btn input {
	position: absolute;
	opacity: .0;
	filter: alpha(opacity=0);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	z-index: 2
}
.upload-btn.disabled {
	opacity: .3
}
.filename {
	text-indent: -78px;
	overflow: hidden;
	width: 50%;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0;
	line-height: 3.66rem;
	position: relative;
	z-index: 0;
}
.file-list .filename {
	padding-right: 30px;
	display: inline-block;
	vertical-align: middle;
}
.file-list .filename .icon-del {
	position: absolute;
	z-index: 1;
	right: -10px;
	top: 6px;
}
.file-list .filename i {
	margin-left: 80px;
	font-style: normal
}
.file-list {
	margin: 0
}
.file-list .upload-btn {
}
.templet-list {
	margin: 0;
	padding: 0
}
.templet-list li {
	float: left;
	margin: 1% 5%;
	width: 40%;
	list-style: none;
	text-align: center;
	position: relative;
	z-index: 0
}
.templet-list li img {
	border: 1px solid #999
}
.templet-list li p {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 22px;
}
.templet-list li a {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0
}
.templet-list li a.chosed {
	background: rgba(0,0,0,0.3) url(../wsimages/chosed.png) no-repeat 85% 10%;
}
.recive-list .input {
	border: 0 none;
	border-bottom: #ebecec solid 1px;
	border-radius: 0
}
.userinfo {
	height: 4.04rem;
	line-height: 4.04rem;
	border-bottom: #d4d5d6 solid 1px;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	background: #fff;
	padding: 0 1rem;
}
.pay-box {
	background: #fff;
	padding: 0;
}
.go-pay .d-box, .select-ui .d-box {
	display: -webkit-box;
	display: -moz-box;
	display: box
}
.pay-box li {
	padding: 0 1rem;
	line-height: 40px;
	border-bottom: #d4d5d6 solid 1px;
	white-space: nowrap;
}
.pay-box li.paytxt {
	background: #fafafa;
	padding-top: 0;
	padding-bottom: 1rem;
	line-height: 22px;
}
.pay-box li .input[readonly] {
	border: 0 none;
	outline: 0 none
}
.pay-box select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-webkit-box-flex: 3;
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3;
	border: 0 none
}
.price-type {
	margin: 1rem 0;
}
.price-type .pt-ltem {
	padding-left: 1rem;
	cursor: pointer;
	border-radius: 1px;
	line-height: 50px;
	box-shadow: inset 5px 0 0 #ddd;
}
.price-type .paynum {
	background-color: #fff;
	height: 3rem;
	line-height: 3rem;
	border: #d4d5d6 solid 1px;
	border-radius: .5rem;
	padding: 0 .5rem;
}
.price-type .paynum .ipt {
	line-height: 1.66rem;
	height: 1.66rem;
	margin-top: .7rem;
	border: none;
	font-size: 1.33rem;
	color: #eb3026;
	width: 100%;
	display: block;
	outline: 0;
}
.i-del {
	width: .83rem;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADfSURBVDhPrZVRDsIgEER7A5OeoffxT28MfHAIr+FP4w6wjSzLAkknGSQw89qgwQ2KMT5CCE/n3JEWFoQOumDwwu69/9DnSf6SX2ljQsiWzlkYOy8C9u8hFBnRyT0aDnJ6inAXij2RhcHIR0YTLQA3UKyJjJ6lM3groSqIudhLRrdEalnQ4mavC2MZ0MZDGGsGOg1jWdBlGETF3rcJD3+nlVAQAM1zUARF0bINRUAUrqJxpjoUGyLYFKahWBABPUgaQmmyfDl0oPlyoEF7uy6MhYzo5B4N916w0H1/Adv2A5zmwEtt+XRMAAAAAElFTkSuQmCC") no-repeat center center;
	background-size: .83rem auto;
}
.price-type .paynum .i-del {
	display: block;
	margin-top: .7rem;
}
.price-type .current {
	box-shadow: inset 5px 0 0 #F73939;
}
.price-type .pt-ltem a {
	text-decoration: none;
}
.price-type .item-tao a {
	color: #333;
	font-weight: 700
}
.price-type .text-amount {
	line-height: 2.5rem;
	height: 2.5rem;
	font-size: 1.33rem;
	color: #eb3026;
	border: #d4d5d6 solid 1px;
	border-radius: .5rem;
	padding: 0 .5rem;
}
.paybtns {
	background: #fff;
	margin-top: .5rem;
}
.paybtns label {
	display: block;
	margin-right: .5rem;
}
.paybtns label:last-child {
	margin-right: 0;
}
.pay_btn {
	display: block;
	border-radius: .5rem;
	height: 2.5rem;
	line-height: 2.5rem;
	border: #bababa solid 1px;
	text-align: center;
	color: #666;
	font-size: 1.16rem;
	font-style: normal;
	font-weight: 500;
}
.paybtns input:checked + .pay_btn {
	background-color: #eb3026;
	border-color: #eb3026;
	color: #fff;
}
.hide {
	position: absolute;
	z-index: -1;
	visibility: hidden;
}
.pay-box .fp-info p {
	margin: 0
}
.pay-box .input {
	border: none;
	border-radius: 0;
	outline: 0 none;
}
.pay-box .error, p.error {
	color: #F73939;
}
.pay-type label {
	margin: 5px;
}
.pay-type label img {
	border: #d4d5d6 solid 1px;
}
.pay-type input:checked + img {
	border-color: #F73939
}
.banner {
	height: 11rem;
	background: url(../wsimages/top_bj.png) center top;
	background-size: 100% 100%;
	position: relative;
	z-index: 0;
}
.m-tab3 {
	background: rgba(206,1,16,.3);
	position: absolute;
	z-index: 1;
	left: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
	width: 100%;
}
.ui-avc {
	display: -webkit-box;
	display: box;
	-webkit-box-align: center;
	-ms-box-align: center;
	-ms-flex-align: center;
	box-align: center;
}
.m-tab3 li {
	color: #fff;
	line-height: 1.2rem;
	background-size: 1px 1.25rem;
	width: 33%;
	list-style: none;
	text-align: center;
	margin: 5px 0;
	font-size: 12px;
	border-right: 1px solid #fff;
}
.m-tab3 li p {
	padding: 0;
	margin: 0
}
.m-tab3 li p.num {
	font-size: 18px;
}
.m-tab3 li:last-child {
	border-right: 0;
}
.d-box {
	display: -webkit-box;  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers.  */
	display: -moz-box;    /* 老版本语法: Firefox (buggy) */
	display: -ms-flexbox;  /* 混合版本语法: IE 10 */
	display: -webkit-flex;  /* 新版本语法： Chrome 21+ */
	display: flex;       /* 新版本语法： Opera 12.1, Firefox 22+ */
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.b-flex {
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 0;
	-ms-flex: 1 0 0;
	flex: 1 0 0
}
.b-flex_auto {
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto
}
.flex1 {
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1;
	-ms-flex: 1 0 0;
	flex: 1 0 0;
	display: block;
}
input.b-flex {
	display: block;
}
.acc_menu a {
	padding: 0 1.33rem 0 1.5rem;
	height: 3.625rem;
	border-bottom: #e1e1e1 solid 1px;
	color: #333;
	font-size: 1.2rem;
	text-decoration: none
}
.i-log {
	background-size: 1.45rem auto;
	background-image: url(../wsimages/ico-log.png);
}
.i-detail {
	background-size: 1.45rem auto;
	background-image: url(../wsimages/ico-detail.png);
}
.i-pay {
	background-size: 1.45rem auto;
	background-image: url(../wsimages/ico-pay.png);
}
.i-unbind {
	background-size: 1.45rem auto;
	background-image: url(../wsimages/ico-unbind.png);
}
.acc_menu {
	background: #fff;
}
.acc_menu i {
	margin-right: 1.125rem;
	width: 1.5rem;
	background-position: center center;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
}
.acc_menu .i-arrowR {
	margin-right: 0;
	width: 1rem;
}
.avatar {
	padding-top: 15px;
	text-align: center;
	color: #fff;
	font-size: 14px;
}
.avatar img {
	width: 60px;
	height: 60px;
	border-radius: 5px;
	border: 1px solid #fff;
}
.acc_info h3 {
	padding: .5rem 1rem;
	border-bottom: 1px solid #DCDCDD;
	margin: 0 0 10px 0;
}
.acc_info dl {
	padding: 0 1rem;
	font-size: 14px;
	margin: 10px 0;
}
.acc_info dt {
	float: left;
	width: 25%;
	margin-right: 5%;
	text-align: right
}
.acc_info dd {
	float: left;
	width: 70%;
	margin: 0
}
.select-ui li a {
	color: #666;
	text-decoration: none
}
.select-ui li.selected i.i-arrowR {
	background-image: url(../wsimages/ico-selected-arrowR.png)
}
.select-ui li.selected a {
	color: #F73939
}
.contactus {
	background: #fff;
	padding: 10px;
}
.contactus .tel {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #fa6501;
	font-size: 20px;
	color: #fa6501;
	font-weight: 700;
	text-align: center;
	margin: 0;
}
.contactus .title {
	font-weight: 700;
	color: #333
}
.contactus table {
	border-collapse: separate;
	border-spacing: 5px;
	line-height: 25px;
}
.contactus table p {
	margin: 0;
}
.contactus .content {
	padding-bottom: 5px;
}
.seal-list .tab {
	height: 39px;
	background: #f5f5f5;
	border-bottom: 1px solid #CCC;
}
.seal-list ul, .seal-list li, #seal-list ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.seal-list li p, #seal-list ul p {
	padding: 0;
	margin: 0;
}
.seal-list {
	background: #fff;
	position: fixed;
	left: 0;
	bottom: -450px;
	width: 100%;
	height: auto;
	z-index: 999
}
.seal-show .seal-list {
	bottom: 0
}
#seal .dialog-overlay {
	display: none
}
#seal.seal-show .dialog-overlay {
	display: block
}
.seal-list .seal-model {
	height: 130px;
	width: 100%;
	overflow: auto
}
.seal-model li {
	width: 44%;
	float: left;
	padding: 8px 3%;
	text-align: center;
	height: 114px;
	cursor: pointer;
	display: block;
}
.seal-model li.current {
	background: rgba(0,0,0,0.10)
}
.seal-model li .img {
	height: 90px;
	width: 100%;
	line-height: 90px;
	overflow: hidden
}
.seal-model li .txt {
	width: 100%;
	white-space: nowrap;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis
}
.seal-model li .img img {
	max-width: 98%;
	max-height: 98%;
	padding: 1%;
	box-sizing: border-box;
}
#seal-list .tab-content li {
	background: #fff;
	margin-bottom: 10px;
	padding: 10px;
}
#seal-list li .img {
	height: 90px;
	width: 90px;
	border: 1px solid #dcdcdc;
	overflow: hidden;
	line-height: 90px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
#seal-list li .img img {
	max-width: 96%;
	max-height: 96%;
	padding: 2%;
	vertical-align: middle;
}
#seal-list li .txt {
	-webkit-box-flex: 3;
	-webkit-flex: 3 0 0;
	-ms-flex: 3 0 0;
	flex: 3 0 0;
	width: 200px;
	white-space: nowrap;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px
}
#seal-list .icon-del {
	border: 1px solid #ccc;
	border-radius: 30px;
	width: 30px;
	height: 30px;
	opacity: .6
}
#seal-list .icon-del:hover, #seal-list .icon-del:active {
	opacity: 1;
	box-shadow: 0 0 8px rgba(0,0,0,0.15)
}
.passsign {
	margin-left: 10px;
	font-size: 14px
}
.contact-ul {
	margin: 0 0 56px;
	padding: 0;
	border-bottom: 1px solid #eee;
}
.contact-ul li {
	padding: 20px 10px;
	background: #fff;
	border-top: 1px solid #eee;
	margin: 0;
	list-style: none;
}
.contact-ul p {
	margin: 0
}
.contact-ul input.error {
	border-color: #E60012
}
.contact-ul li .icon-del {
	margin-top: -10px;
}
.contact-ul li.add-contact .icon-del {
	margin-top: 0;
}
.ht-file-list {
	margin: 0;
	padding: 0;
}
.ht-file-list li {
	margin: 0;
	padding: 10px;
	border-bottom: 1px solid #dedede;
}
.ht-file-list li a {
	color: #333;
	text-decoration: none;
	height: 21px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
.ht-file-list li:first-child a {
	font-weight: 700;
}
.ico {
	background: url(../wsimages/doc_ico.png) 0 0 no-repeat;
	display: inline-block;
	font-size: 0;
	height: 16px;
	line-height: 9999em;
	overflow: hidden;
	padding: 0;
	position: relative;
	vertical-align: -2px;
	width: 16px;
	margin: 0 5px 0 0;
}
.ico_gif {
	background-position: 0 0;
}
.ico_doc, .ico_pdw {
	background-position: -20px 0;
}
.ico_docx {
	background-position: -20px 0;
}
.ico_xls, .ico_pxl {
	background-position: -40px 0;
}
.ico_xlsx {
	background-position: -40px 0;
}
.ico_ppt {
	background-position: -60px 0;
}
.ico_pptx {
	background-position: -60px 0;
}
.ico_pps {
	background-position: -80px 0;
}
.ico_ppsx {
	background-position: -80px 0;
}
.ico_bmp {
	background-position: -100px 0;
}
.ico_rtf {
	background-position: -120px 0;
}
.ico_jpg {
	background-position: -140px 0
}
.ico_jpeg {
	background-position: -140px 0;
}
.ico_pub {
	background-position: 0 -20px;
}
.ico_tif {
	background-position: -20px -20px;
}
.ico_tiff {
	background-position: -20px -20px;
}
.ico_txt {
	background-position: -40px -20px;
}
.ico_pot {
	background-position: -60px -20px;
}
.ico_potx {
	background-position: -60px -20px;
}
.ico_wps {
	background-position: -80px -20px;
}
.ico_et {
	background-position: -100px -20px;
}
.ico_dps {
	background-position: -120px -20px;
}
.ico_pdf {
	background-position: -140px -20px;
}
.ico_epub {
	background-position: 0 -40px;
}
.ico_xml {
	background-position: -20px -40px;
}
.ico_psw {
	background-position: -80px -40px;
}
.ico_eml {
	background-position: -100px -40px;
}
.ico_ps {
	background-position: -120px -40px;
}
.ico_vsd {
	background-position: -140px -40px;
}
.ico_mpp {
	background-position: 0px -60px;
}
.ico_png {
	background-position: -20px -60px;
}
.ico_wpt {
	background-position: -60px -40px;
}
.ico_dpt {
	background-position: -60px -60px;
}
.ico_html {
	background-position: -40px -40px;
}
.chat {
	background-color: #fff;
	border: 1px solid #666;
	font-size: 14px;
	line-height: 1.3em;
	margin: 10px auto;
	padding: 10px;
	position: absolute;
	z-index: 1;
	right: 0;
	bottom: -50px;
	text-align: center;
	width: auto;
	right: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	border-radius: 10px;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: slideInUp;
	animation-name: slideInUp;
}
@-webkit-keyframes slideInUp {
 0% {
 -webkit-transform: translate3d(0, 100%, 0);
 transform: translate3d(0, 100%, 0);
 visibility: visible;
}
 100% {
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0);
}
}
 @keyframes slideInUp {
 0% {
 -webkit-transform: translate3d(0, 100%, 0);
 transform: translate3d(0, 100%, 0);
 visibility: visible;
}
 100% {
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0);
}
}
.chat-arrow-border {
	border-color: transparent transparent #666 transparent;
	border-style: solid;
	border-width: 10px;
	height: 0;
	width: 0;
	position: absolute;
	top: -21px;
	right: 30px;
}
.chat-arrow {
	border-color: transparent transparent #fff transparent;
	border-style: solid;
	border-width: 10px;
	height: 0;
	width: 0;
	position: absolute;
	top: -20px;
	right: 30px;
}
.seal-preview {
	background: #fff;
	padding: 30px
}
.seal-data p {
	line-height: 40px;
}
.seal-data .error {
	border-color: #E60012
}
.gigital-cert {
	text-align: left;
	line-height: 20px;
	font-size: 12px;
	word-break: break-all;
	background: #fff
}
.gigital-cert .md5 {
	background: rgba(125,196,248,0.43);
	width: auto;
	padding: 0 10px;
	height: 40px;
	overflow: hidden;
}
.gigital-cert p {
	margin: 0;
	padding: 0 10px;
}
.tb-lr {
	-webkit-writing-mode: vertical-lr;
	writing-mode: tb-rl;
	writing-mode: vertical-lr;
}
.contract .tb-bg {
	width: 20px;
	text-align: center;
	position: relative;
	z-index: 0;
	letter-spacing: 5px;
}
.contract .tbr {
	width: 90%;
	padding: 0 10px;
	box-sizing: border-box
}
.contract .tb-bg span {
	position: absolute;
	z-index: 1;
	left: 50%;
	margin-left: -11px;
	padding: 5px 0
}
.contract .tb-bg span::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
}
.b-red {
	background: #F73939;
	color: #fff
}
.b-gray {
	background: gray;
	color: #fff
}
.b-green {
	background: #6fc74c;
	color: #fff
}
.contract .tb-bg.b-red {
	min-height: 101px;
}
.contract .tb-bg.b-red span {
	margin-top: -53px;
	top: 50%;
}
.contract .tb-bg.b-gray {
}
.contract .tb-bg.b-gray span {
	height: 38px;
	top: 5px;
	margin-top: 0
}
.contract .tb-bg.b-gray + .tbr {
	line-height: 53px;
}
.contract .tbr .d-box:first-child {
	border-bottom: 10px solid #FBF9FE
}
.countdown b {
	color: #F73939;
	margin: 0 5px;
}
.icon-countdown {
	background: url(../wsimages/icon-countdown.png) no-repeat;
	width: 13px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	background-size: contain
}
.record-ul .b-red, .record-ul .b-green, .record-ul .b-gray {
	display: inline-block;
	border-radius: 2px;
	font-size: 12px;
	padding: 0 2px;
	vertical-align: middle
}
.faq-list{ padding:0}
.faq-list li{ list-style:none; margin-bottom:5px}
.faq-list li a {
    position: relative;
    z-index: 0;
    padding: 10px 40px 10px 10px;
	line-height:20px; height:auto;
	color:#333;
	display:block;
	background:#fff;
	text-decoration:none
}
.faq-list li a .icon-arrow {
    position: absolute;
    right: 0;
    z-index: 1;
    width: 40px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
    text-align: center;
	background:url(../wsimages/icon-arrowdown.png) no-repeat center center;
	background-size:16px
}
.faq-list .faq-content{ display:none; padding:10px; line-height:25px; color:#333; background:#f5f5f5}
.faq-list li.active .faq-content{ display:block}
.faq-list li.active  .icon-arrow { transform:rotate(180deg)}