<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebserviceAxisClient3.0_Enhanced</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>catalog.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>init</servlet-name>
    <servlet-class>com.servlet.InitServlet</servlet-class>
    <init-param>
      <param-name>endpoint</param-name>
      <!-- <param-value>https://www.yunsigntest.com/mmecserver3.0/webservice/Common?wsdl</param-value> -->
   	  <param-value>http://192.168.10.114:8081/mmecserver3.0/webservice/Common?wsdl</param-value> 
    </init-param>
    <init-param>
      <param-name>endpoint1</param-name>
       <!-- <param-value>https://www.yunsigntest.com/mmecserver3.0</param-value> -->
     	<param-value>http://192.168.10.114:8081/mmecserver3.0</param-value> 
    </init-param>
    <init-param>
      <param-name>endpoint_addition</param-name>
       <!-- <param-value>https://www.yunsigntest.com/mmecserver3.0/webservice/Addition?wsdl</param-value> -->
      <param-value>http://192.168.10.114:8081/shanghaibank/webservice/Addition?wsdl</param-value> 
    </init-param>
    <init-param>
      <param-name>endpoint_specialization</param-name>
      <param-value>https://www.yunsigntest.com/mmecserver3.0/webservice/Specialization?wsdl</param-value>
   <!--    <param-value>https://www.yunsigntest.com/mmecserver3.0/webservice/Specialization?wsdl</param-value> -->
    </init-param>
    
    <init-param>
      <param-name>IMGPath</param-name>
    <param-value>E:/sharefile/yunsign/image/</param-value> 
      
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  
	<servlet>
		<description></description>
		<display-name>ReceptHttpRequest</display-name>
		<servlet-name>ReceptHttpRequest</servlet-name>
		<servlet-class>com.servlet.ReceptHttpRequestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReceptHttpRequest</servlet-name>
		<url-pattern>/receptHttpRequest</url-pattern>
	</servlet-mapping>
	
  <servlet>
    <description></description>
    <display-name>RegisterTest</display-name>
    <servlet-name>RegisterTest</servlet-name>
    <servlet-class>com.test.RegisterTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterTest</servlet-name>
    <url-pattern>/registerTest</url-pattern>
  </servlet-mapping>
  
   <!--  <servlet>
	    <description></description>
	    <display-name>NewInterface</display-name>
	    <servlet-name>NewInterface</servlet-name>
	    <servlet-class>com.test.NewInterface</servlet-class>
  	</servlet>
    <servlet-mapping>
	    <servlet-name>NewInterface</servlet-name>
	    <url-pattern>/NewInterface</url-pattern>
  	</servlet-mapping> -->
  
 <!--  <servlet>
    <description></description>
    <display-name>UpdateUserInfoTest</display-name>
    <servlet-name>UpdateUserInfoTest</servlet-name>
    <servlet-class>com.test.UpdateUserInfoTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserInfoTest</servlet-name>
    <url-pattern>/updateUserInfoTest</url-pattern>
  </servlet-mapping> -->
  <servlet>
    <description></description>
    <display-name>CreateContractTest</display-name>
    <servlet-name>CreateContractTest</servlet-name>
    <servlet-class>com.test.CreateContractTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateContractTest</servlet-name>
    <url-pattern>/createContractTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelContractTest</display-name>
    <servlet-name>CancelContractTest</servlet-name>
    <servlet-class>com.test.CancelContractTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelContractTest</servlet-name>
    <url-pattern>/cancelContractTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SyncOperateStatusTest</display-name>
    <servlet-name>SyncOperateStatusTest</servlet-name>
    <servlet-class>com.test.SyncOperateStatusTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SyncOperateStatusTest</servlet-name>
    <url-pattern>/syncOperateStatusTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendValidateCodeTest</display-name>
    <servlet-name>SendValidateCodeTest</servlet-name>
    <servlet-class>com.test.SendValidateCodeTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendValidateCodeTest</servlet-name>
    <url-pattern>/sendValidateCodeTest</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AddSignInfoTest</display-name>
    <servlet-name>AddSignInfoTest</servlet-name>
    <servlet-class>com.test.AddSignInfoTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSignInfoTest</servlet-name>
    <url-pattern>/addSignInfoTest</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>SignByCodeTest</display-name>
    <servlet-name>SignByCodeTest</servlet-name>
    <servlet-class>com.test.SignByCodeTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignByCodeTest</servlet-name>
    <url-pattern>/signByCodeTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignTest</display-name>
    <servlet-name>SignTest</servlet-name>
    <servlet-class>com.test.SignTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignTest</servlet-name>
    <url-pattern>/signTest</url-pattern>
  </servlet-mapping>
 <!--  <servlet>
    <description></description>
    <display-name>SignAllTest</display-name>
    <servlet-name>SignAllTest</servlet-name>
    <servlet-class>com.test.SignAllTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignAllTest</servlet-name>
    <url-pattern>/signAllTest</url-pattern>
  </servlet-mapping> -->
  <servlet>
    <description></description>
    <display-name>SignPdfByCodeTest</display-name>
    <servlet-name>SignPdfByCodeTest</servlet-name>
    <servlet-class>com.test.SignPdfByCodeTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignPdfByCodeTest</servlet-name>
    <url-pattern>/signPdfByCodeTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignPdfTest</display-name>
    <servlet-name>SignPdfTest</servlet-name>
    <servlet-class>com.test.SignPdfTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignPdfTest</servlet-name>
    <url-pattern>/signPdfTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignPdfAllTest</display-name>
    <servlet-name>SignPdfAllTest</servlet-name>
    <servlet-class>com.test.SignPdfAllTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignPdfAllTest</servlet-name>
    <url-pattern>/signPdfAllTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthoritySignTest</display-name>
    <servlet-name>AuthoritySignTest</servlet-name>
    <servlet-class>com.test.AuthoritySignTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthoritySignTest</servlet-name>
    <url-pattern>/authoritySignTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterWithOCRTest</display-name>
    <servlet-name>RegisterWithOCRTest</servlet-name>
    <servlet-class>com.test.RegisterWithOCRTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterWithOCRTest</servlet-name>
    <url-pattern>/registerWithOCRTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserQuery</display-name>
    <servlet-name>UserQuery</servlet-name>
    <servlet-class>com.test.UserQueryTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserQuery</servlet-name>
    <url-pattern>/userQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FtpDownloadTest</display-name>
    <servlet-name>FtpDownloadTest</servlet-name>
    <servlet-class>com.test.FtpDownloadTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FtpDownloadTest</servlet-name>
    <url-pattern>/ftpDownloadTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateContractWithFile</display-name>
    <servlet-name>CreateContractWithFile</servlet-name>
    <servlet-class>com.test.CreateContractWithFileTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateContractWithFile</servlet-name>
    <url-pattern>/createContractWithFileTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateContractWithFileAndContent</display-name>
    <servlet-name>CreateContractWithFileAndContent</servlet-name>
    <servlet-class>com.test.CreateContractWithFileAndContentTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateContractWithFileAndContent</servlet-name>
    <url-pattern>/createContractWithFileAndContentTest</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ContractQuery</servlet-name>
    <servlet-class>com.test.ContractQueryTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContractQuery</servlet-name>
    <url-pattern>/contractQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomLogo</display-name>
    <servlet-name>CustomLogo</servlet-name>
    <servlet-class>com.test.CustomLogo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomLogo</servlet-name>
    <url-pattern>/customLogo</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UpdateUserAdminTest</display-name>
    <servlet-name>UpdateUserAdminTest</servlet-name>
    <servlet-class>com.test.UpdateUserAdminTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserAdminTest</servlet-name>
    <url-pattern>/updateUserAdminTest</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>ChangeMobileTest</display-name>
    <servlet-name>ChangeMobileTest</servlet-name>
    <servlet-class>com.test.ChangeMobileTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeMobileTest</servlet-name>
    <url-pattern>/changeMobileTest</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <description></description>
    <display-name>registerWithCheckIdcard</display-name>
    <servlet-name>registerWithCheckIdcard</servlet-name>
    <servlet-class>com.test.RegisterWithCheckIdcard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerWithCheckIdcard</servlet-name>
    <url-pattern>/registerWithCheckIdcard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompleteUserInformationTest</display-name>
    <servlet-name>CompleteUserInformationTest</servlet-name>
    <servlet-class>com.test.CompleteUserInformationTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompleteUserInformationTest</servlet-name>
    <url-pattern>/completeUserInformationTest</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AuthorityCreateByTemplate</display-name>
    <servlet-name>AuthorityCreateByTemplate</servlet-name>
    <servlet-class>com.test.AuthorityCreateByTemplate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorityCreateByTemplate</servlet-name>
    <url-pattern>/authorityCreateByTemplate</url-pattern>
  </servlet-mapping>
   
  <servlet>
    <description></description>
    <display-name>AuthorityCreateByFile</display-name>
    <servlet-name>AuthorityCreateByFile</servlet-name>
    <servlet-class>com.test.AuthorityCreateByFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorityCreateByFile</servlet-name>
    <url-pattern>/authorityCreateByFile</url-pattern>
  </servlet-mapping>
  
</web-app>
